In [25]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
from tqdm import tqdm

In [10]:
df = pd.read_csv('dataset_without_nulls.csv')

In [ ]:
!pip install geopandas
!pip install overpy
!pip install overpass
!pip install geocoder

In [3]:
import sys, setuptools, tokenize

In [4]:
import warnings
#warnings.filterwarnings('ignore')

from tqdm import tqdm
from geopy.geocoders import Nominatim
import geopandas as gpd
import overpass
import geocoder
import overpy

In [5]:
import requests
import json
#from keplergl import KeplerGl
from geopy import distance
#import utm

# Translate

In [ ]:
!pip3 uninstall googletrans
!pip3 install googletrans==3.1.0a0

In [8]:
from googletrans import Translator, constants
from pprint import pprint

In [12]:
#translator = Translator()
translation = translator.translate("Турция", dest='en')
print(translation.text)

Turkey

In [11]:
def translate(city):
  return translator.translate(city, dest='en').text

In [13]:
Cities = pd.Series(df['Город Отеля'].unique()).dropna()
Cities = Cities.apply(translate)

In [17]:
Cities[:50]

1                           Boazkent
2                           Текирова
3                             Alanya
4                           Protaras
5                         Tasilburun
6                              Staff
7                           Manavgat
8                          Evrenseki
9                              Doors
10                           Чамьюва
11                             Exile
12                 Imeretinskaya Bay
13                             Belek
14             Fujairah Beach Hotels
15                       Belek Centr
16                        Redemption
17                         Armutalan
18                            Гейнюк
19                         Olyudeniz
20                            Yellow
21                           Türkler
22                           Readers
23                           Incekum
24                              Lara
25                      Dubai Marina
26                          Kyzylach
27                      Introduction
28                          Bechichi
29                     Palm Jumeirah
30                         New Athos
31                               Red
32                            Kumkoy
33                           Fethiye
34                               Bag
35                           Konakli
36                               Loo
37    Beach hotels in Ras al Khaimah
38                             Demre
39                         Sheregesh
40                      Kemer Center
41                            Drinks
42                            Pathos
43                           Beldibi
44                  Krasnaya Polyana
45                        Titreengol
46                         Ayia Napa
47                          Cholakli
48                             Budva
49                            Dombay
50                  South Male Atoll
dtype: object

In [19]:
tourism_attr = pd.DataFrame()
tourism_attr['Resort'] = Cities
tourism_attr['Курорт'] = pd.Series(df['Город Отеля'].unique()).dropna()

In [80]:
def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True

In [ ]:
num_of_attr = list()
for city in tqdm(Cities):
  if (isEnglish(city) == True) and (city.isalpha() == True) and (len(city.split(' ')) == 1):
    api = overpy.Overpass()
    r = api.query(f"""
    area[name = {city}];
    node["tourism"="attraction"](area);
    out;
    """)
    num_of_attr.append(len(r.nodes))
  else:
    num_of_attr.append(0)

In [87]:
tourism_attr['Tourism_attr'] = num_of_attr

In [96]:
tourism_attr.sort_values(by = ['Tourism_attr'], ascending = False).iloc[:10]

        Resort     Курорт  Tourism_attr
179       Bali       Бали           340
299      Paris      Париж           198
346    Antalya    Анталья           159
406    Hamburg    Гамбург           129
171   Helsinki  Хельсинки           120
306   Budapest   Будапешт            95
257      Fatih      Фатих            73
107  Barcelona  Барселона            65
397     Verona     Верона            54
132      Worms   Червиния            47